<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"   href="/static/style.css">
    <link rel="stylesheet"   media="screen and (max-width: 1170px)" href="/static/phone.css">
    
</head>
<body>
    
    <section id="appointment">
        <h1 class="h-primaryB">Book An Appointment</h1>
        <div id="appointment-box">
            <form action="" method="post">
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" name="name" id="name"
                    placeholder="Enter Your Name">
                </div>
                <div class="form-group">
                    <label for="name">Age:</label>
                    <input type="number" name="age" id="age"
                    placeholder="Enter Your Age">
                </div>
                <div class="form-group">
                    <label for="name">Gender:</label>
                    <input type="name" name="gender" id="gender"
                    placeholder="Enter Your Gender">
                </div>
                <div class="form-group">
                    <label for="name">Email-Id:</label>
                    <input type="email" name="email" id="email"
                    placeholder="Enter Your Email-Id">
                </div>
                <div class="form-group">
                    <label for="name">Test Description:</label>
                <textarea name="TestDescription" id="message" cols="30" rows="10"></textarea>

            </div>
            <button class="btn" type="submit" >Submit</button>
            </form>
        </div>
    </section>
</body>
</html>