<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospital Manager</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet"  media="screen and (max-width: 1170px)"  href="/static/phone.css">
    
</head>
<body>
    <nav id="navbar">
        <div id="logo">
            <img src="../static/img/doc.png" alt=""
            width="120px" height="170px">
           
        </div>
         <!-- Here we have assigned all the special features which advances website to 2Nd Level. -->
        <ul>
        <li class="item"><a href="#home">HOME</a></li>
        <li class="item"><a href="https://www.google.com">About Us</a></li>
        <li class="item"><a href="#client-section">Contact Us</a></li>
        <li class="item"><a href="#services">Services</a></li>
        </ul>
    </nav>
    <section id="home">
        <h1 class="h-primary">Welcome To My Hospital Management</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
             Nam rerum quo eveniet libero
             natus maxime, iusto deserunt et. Error </p>
             <a href="/AboutUs" class="btn" type="button">Book An Appointment</a>
    </section>
    
    <section class="services">
        <h1 class="h-primaryB">Our Services</h1>
        <div id="services">
            <div class="box">
                <img src="../static/img/pexels-pixabay-159211.jpg" alt="" class="img">
                <h2 class="h-secondory">Order For Online Medicines</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum totam maxime vel labore ipsum eos, cumque accusantium nihil quidem dolorem reprehenderit obcaecati quaerat fugiat? Iusto minima nisi ipsum quis ratione?</p>
            </div>
            <div class="box">
                <img src="../static/img/medical-563427_1920.jpg" alt="" >
                <h2 class="h-secondory">Know About Your Reports</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum totam maxime vel labore ipsum eos, cumque accusantium nihil quidem dolorem reprehenderit obcaecati quaerat fugiat? Iusto minima nisi ipsum quis ratione?</p>
            </div>
            <div class="box">
                <img src="../static/img/contact us.jpg" alt="" >
                <h2 class="h-secondory">Contact Us</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum totam maxime vel labore ipsum eos, cumque accusantium nihil quidem dolorem reprehenderit obcaecati quaerat fugiat? Iusto minima nisi ipsum quis ratione?</p>
            </div>

        </div>
        
    </section>
    <section id="client-section">
        <h1 class="h-primaryB">Our Clients</h1>
        <div id="clients">
            <div class="client-item">
                <img src="../static/img/Apple-logo-black-and-white.png" alt="Our Clients">
            </div>
            <div class="client-item">
                <img src="../static/img/whatsapp.png" alt="Our Clients">
            </div>
            <div class="client-item">
                <img src="../static/img/facebook.png" alt="Our Clients">
            </div>
        </div>
    </section>
    

    <!-- <section id="appointment">
        <h1 class="h-primaryB">Book An Appointment</h1>
        <div id="appointment-box">
            <form action="">
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" name="name" id="name"
                    placeholder="Enter Your Name">
                </div>
                <div class="form-group">
                    <label for="name">Age:</label>
                    <input type="number" name="name" id="age"
                    placeholder="Enter Your Age">
                </div>
                <div class="form-group">
                    <label for="name">Gender:</label>
                    <input type="name" name="name" id="gender"
                    placeholder="Enter Your Gender">
                </div>
                <div class="form-group">
                    <label for="name">Email-Id:</label>
                    <input type="email" name="name" id="email"
                    placeholder="Enter Your Email-Id">
                </div>
                <div class="form-group">
                    <label for="name">Test Description:</label>
                <textarea name="Test Description" id="message" cols="30" rows="10"></textarea>

                </div>
            </form>
        </div>
    </section> -->
    <script>
        alert("This Is My First Website Based on HTML+CSS")
    </script>

</body>
</html>